.form {
  margin: 48px auto 0;
  max-width: 522px;
  text-align: left;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: space-between;
}

.input {
  margin: 0 12px 0 0;
  font-family: "Segoe UI";
  font-size: 18px;
  line-height: 22px;
  height: 60px;
  width: 377px;
  border-radius: 14px;
  font-weight: 400;
  border: 1px solid #7a7a7a;
}

.button {
  width: 133px;
  padding: 18px 24px;
  border: none;
  border-radius: 14px;
  background-color: #85cfff;
  color: #292929;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}

.label {
  padding: 0 16px;
  margin: 4px 0 0;
  color: #3d3d3d;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.resultSection {
  max-width: 1000px;
  margin: 48px auto 0;
}

.letters {
  list-style: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.letter:not(:last-of-type) {
  margin-right: 16px;
}

.index {
  color: #3d3d3d;
  text-align: center;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
